.nav-header {
  height: 520px;
  width: 100%;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center;
  background-color: #adc113;  
  background-image: url("https://www.transparenttextures.com/patterns/binding-light.png");
}

.name h2 {
  margin: 0;
}
