@media only screen and (min-width: 1024px) {
  body {
    
    flex-direction: row;
    /*justify-content: flex-start;*/
    align-items: flex-start;
    padding-top: 200px;

  }
  
  .nav-header {    
    width: 50%;
    margin-left: 50px;
    margin-right: 150px;
    padding-top: 0;
    height: 386px;
    
  }

  h2 {
    margin-top: 0;
  }

  .container {
    margin-right: 3vw;

  }
}




