.tweet-container {
  border-width: 3px;
  border-style: solid;  
  padding: 20px;
  margin-top: 40px;
  border-color: grey;  
}

.tweet-container:hover {
  box-shadow: 10px 10px 8px #888888;
}

.tweet-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.tweet-header div {
  display: flex;
  flex-direction: row;
}

.tweet-header > p  {
  font-weight: bold;
  color:rgb(143, 195, 197);
}

.tweet-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: medium;
  margin: 0px 16px;
}

.aricle-icons {
  color: #4056A1;  
}

.fa-retweet {
  padding: 15px;
}

.fa-flag:hover {
  color: rgb(163, 117, 18);
}
.fa-retweet:hover {
  color: rgb(163, 117, 18);
}
.fa-heart:hover {
  color: rgb(163, 117, 18);
}

#article-tweet-text {
  
  border: none;
  outline: none;
  background-color: #f4f1ec;
  resize: none;
  border-bottom: 3px solid grey;
  height: 45px;
  font-size: large;
  font-weight: bold;
}

